# Copy as .env file and fill your values below

API_KEY=YOUR_API_KEY
API_URL=https://api.groq.com/openai/v1
MODEL_NAME=openai/gpt-oss-120b

KAGGLE_COMPETITION=KAGGLE_COMPETITION
KAGGLE_USERNAME=YOUR_KAGGLE_USERNAME
KAGGLE_KEY=YOUR_KAGGLE_API_KEY