# Copy as .env file and fill your values below

API_KEY=YOUR_API_KEY
API_URL=https://openrouter.ai/api/v1
MODEL_NAME=minimax/minimax-m2.7
EMBEDDING_MODEL_NAME=openai/text-embedding-3-small

KAGGLE_COMPETITION=KAGGLE_COMPETITION
KAGGLE_USERNAME=YOUR_KAGGLE_USERNAME
KAGGLE_KEY=YOUR_KAGGLE_API_KEY